.MainGrid {
    display: grid;
    grid-template-areas: 'firstColumn secondColumn';
    grid-template-columns: 614px 293px;
    max-width: 957px;
    margin: 70px auto;
    grid-gap: 50px;
}

.box {
    background: var(--background);
    border: 1px solid var(--border);
}