.MainGrid {
    display: grid;
    grid-template-areas: 'firstColumn secondColumn';
    grid-template-columns: 614px 293px;
}

.box {
    background: var(--background);
    border: 1px solid var(--border);
}